h3 {
	font-family: PT Sans Caption;
	font-size: 32px;
}

img {    
	width: 48px;
	top: 298px;
	left: 137px;
	width: 48px;
	height: 48px;
	border-radius: 5px;
	margin: 20px 20px 20px 20px;
}

.row {
	font-family: PT Sans;
	text-align: left;
	font-size: 12px;
}

.my-pagination /deep/ .ngx-pagination .current {
	background: #167ABC;
	justify-content: center;
}