<div class="container">
  <h3>Busca de personagens</h3>
  <h6>Nome do personagem</h6>
  <div class="form-group pesquisa">    
    <span class="material-icons form-control-feedback">search</span>
    <input type="text" id="parametroPesquisa" class="form-control" placeholder="Search" (keyup.enter)="pesquisarPersonagem()">
  </div>

  <div class="row personagem-titulo">
    <div class="col-sm-5 col-md-4">Personagem</div>
    <div class="col-sm-5 col-md-5 mobile-hide">Séries</div>
    <div class="col-sm-3 col-md-3 mobile-hide">Eventos</div>
  </div>

  <div class="card" *ngFor="let hero of heroList?.data?.results | paginate: { itemsPerPage: 10, currentPage: page }">

    <div class="row" [routerLink]="['/hero-details', hero.id]">
      <div class="col-sm-5 col-md-4">
        <img src="{{hero?.thumbnail?.path +'.'+ hero?.thumbnail?.extension}}">
        <span class="personagem-nome"> {{hero.name}} </span>
      </div>
      <div class="col-sm-5 col-md-5 mobile-hide personagem-itens">
        <div *ngFor="let serie of hero.series.items | slice:0:3;">
          {{serie.name}}
        </div>
      </div>
      <div class="col-sm-3 col-md-3 mobile-hide personagem-itens">
        <div *ngFor="let event of hero.events.items | slice:0:3;">
          {{event.name}}
        </div>
      </div>
    </div>

  </div>

  <pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="" nextLabel="">
  </pagination-controls>

</div>