<div class="container">
  <h3>Busca de personagens</h3>

  <mat-form-field appearance="standard">
    <mat-label>Nome do personagem</mat-label>
    <input matInput placeholder="Search" id="campoPesquisa" name="campoPesquisa">
    <mat-icon (click)="pesquisarPersonagem()" matSuffix>search</mat-icon>
  </mat-form-field>

  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th scope="col-5">Personagem</th>
        <th scope="col-4" class="mobile-hide">Séries</th>
        <th scope="col-3" class="mobile-hide">Eventos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroList?.results | paginate: { itemsPerPage: 10, currentPage: page }">
        <td class="col-5"><img src="{{hero?.thumbnail?.path +'.'+ hero?.thumbnail?.extension}}"
            alt="Imagem do personagem">
          <span class="nome-personagem"> <strong>{{hero.name}}</strong> </span>
        </td>
        <td class="col-3" class="mobile-hide">
          <div *ngFor="let serie of hero.series.items">
            {{serie.name}}
          </div>
        </td>
        <td class="col-3" class="mobile-hide">
          <div *ngFor="let event of hero.events.items">
            {{event.name}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel="">

  </pagination-controls>

</div>