<div class="container">
  <h3>Busca de personagens</h3>

  <h6>Nome do personagem</h6>
  <div class="form-group pesquisa">
    <span class="material-icons form-control-feedback">search</span>
    <input type="text" id="parametroPesquisa" [(ngModel)]="parametroPesquisa" class="form-control" placeholder="Search"
      (keyup.enter)="pesquisarPersonagem(parametroPesquisa)">
  </div>

  <div *ngIf="pagina_count" class="row personagem-titulo">
    <div class="col-sm-5 col-md-4">Personagem</div>
    <div class="col-sm-5 col-md-5 mobile-hide">Séries</div>
    <div class="col-sm-3 col-md-3 mobile-hide">Eventos</div>
  </div>

  <div class="card" *ngFor="let hero of heroList?.data?.results">

    <div class="row" [routerLink]="['/hero-details', hero.id]">
      <div class="col-sm-5 col-md-4">
        <img src="{{hero.thumbnail.path +'.'+ hero.thumbnail.extension}}">
        <span class="personagem-nome"> {{hero.name}} </span>
      </div>
      <div class="col-sm-5 col-md-5 mobile-hide personagem-itens">
        <div *ngFor="let serie of hero.series.items | slice:0:3;">
          {{serie.name}}
        </div>
      </div>
      <div class="col-sm-3 col-md-3 mobile-hide personagem-itens">
        <div *ngFor="let event of hero.events.items | slice:0:3;">
          {{event.name}}
        </div>
      </div>
    </div>

  </div>

  <nav>
    <ul class="pagination">
      <li class="page-item {{statusAnterior}}"><a class="page-link" (click)="paginacaoAnterior()"
          aria-label="Anterior"><span aria-hidden="true">&laquo;</span></a></li>

      <li *ngIf="pagina_anterior >= 1" (click)="paginacaoAnterior(true)" class="page-item"><a
          class="page-link">{{pagina_anterior}}</a></li>

      <li disabled class="page-item active"><a class="page-link">{{pagina_atual}}</a></li>

      <li (click)="paginacaoSeguinte(true)" class="page-item"><a class="page-link">{{pagina_seguinte}}</a></li>

      <li class="page-item {{statusSeguinte}}"><a class="page-link" (click)="paginacaoSeguinte()"
          aria-label="Proximo"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>


</div>